<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="resetPassword()">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="reset-btn">Recuperar</ion-button>
  </form>
</ion-content>
