<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="app-title ion-text-center">
    <h1>Bienvenido a RegistrAPP</h1>
    <p>Por favor, ingrese sus credenciales</p>
  </div>

  <form (ngSubmit)="login()">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        [(ngModel)]="password"
        name="password"
        required
      ></ion-input>
      <ion-icon
        name="{{ showPassword ? 'eye-off-outline' : 'eye-outline' }}"
        slot="end"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </ion-item>

    <ion-button expand="block" type="submit" class="login-btn">Ingresar</ion-button>
  </form>

  <div class="ion-text-center">
    <ion-button fill="clear" (click)="goToRegister()">Crear Usuario</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/reset-password">¿Olvidaste tu contraseña?</ion-button>
  </div>
</ion-content>
