.en-progreso {
  background-color: yellow;
}

ion-content {
  --padding-top: 16px;
}

h3 {
  margin-top: 24px;
  color: #3880ff;
}

ion-input, ion-textarea {
  margin-right: 8px;
}

ion-list {
  margin-top: 16px;
}
