<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Lista de Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let tarea of tareas">
      <ion-label>{{ tarea }}</ion-label>
      <ion-button color="danger" (click)="eliminarTarea(tarea)" slot="end">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-input [(ngModel)]="nuevaTarea" placeholder="Escribe una nueva tarea"></ion-input>
    <ion-button (click)="agregarTarea()" slot="end">Agregar</ion-button>
  </ion-item>
</ion-content>
